<div class="row mt-3">
  <div class="col">
    <p-toast position="bottom-left"></p-toast>
    <form [formGroup]="myForm" (ngSubmit)="sendMessage()">

      <div class="card flex justify-content-center">
        <span class="p-float-label">
          <textarea
            id="float-input"
            rows="3" cols="40"
            pInputTextarea
            class="form-control"
            formControlName="message"
            [autoResize]="true"
          ></textarea>
          @if (isValidField('message')) {
            <label for="float-input">{{ getFieldError('message') }}</label>
          } @else {
            <label for="float-input">Ask a question!</label>
          }
        </span>
      </div>

      <div class="card flex justify-content-center">
        <p-button
          type="submit"
          label="Send message"
          icon="pi pi-send"
          iconPos="right"
        ></p-button>
        <p-divider layout="vertical"></p-divider>
        <p-button
          (click)="deleteChat()"
          label="Clean chat"
          icon="pi pi-eraser"
          iconPos="right"
          severity="danger"
        ></p-button>
      </div>

    </form>

  </div>
</div>
