<div class="flex flex-column">

  <div class="max-h-screen surface-200 border-round-lg" [style]="{ 'overflow-y': 'auto' }" #txtChat>
    <div>
      @for (message of messageHistory(); track $index) {
        <shared-message-box [message]="message" />
      }
    </div>

    <shared-message-form />

  </div>

  <div class="flex justify-content-end mt-1">
    <p-toggleButton
      class="relative bottom-0 right-0"
      (click)="toggleChat()"
      onLabel="Chat"
      offLabel="Close chat"
    ></p-toggleButton>
  </div>

</div>
